---
layout: layouts/base.njk
templateClass: buy-success
---
<div class="l-container center-block"> 
   <article>      
      <h1>🎉</h1>
      <h1>Welcome to the community!</h1>
      <p>Once your order has been processed you'll recieve an email on how to access all the features of Sherpa.</p>          
      <a href="/">Back to homepage</a>
    </article>
  </div>