---
layout: layouts/base.njk
templateClass: beta
eleventyNavigation:
  key: beta
  order: 1
---
<div class="l-container"> 
  <grid columns="10">
    <article>      
      <h5>Early Access</h5>
      <h1>Join the community that grows your startup</h1>
      <p>By signing up for early access, you can join an exclusive network of founders, makers and product experts to help you launch great ideas, develop new products and take your startup from dream to reality.</p>    
      <a href="/">Learn more about Sherpa</a>
    </article>
    <aside>
      {% include "components/buy-card.njk" %}
    </aside>
  </grid>
</div>