---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
---
<div class="l-container center-block"> 
   <article>
      {% include "Icon.svg" %}
      <h1>Do your best work, faster</h1>
      <p>A weekly column to help improve your teams performance and unlock huge growth, with bite-sized lessons and insights from the worlds best product teams.</p>    
      {% include "_includes/signup.njk" %}   
    </article>
  </div>