---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
---
<div class="l-container center-block"> 
   <article>
      {% include "Icon.svg" %}
      <h1>Sherpa is the community that builds your startup</h1>
      <p>Access an exclusive network of founders, makers and product experts to help you launch great ideas, develop new products and take your startup from dream to reality</p>    
      <h5>Join the waiting list to guarantee your place</h5>
      {% include "_includes/signup.njk" %}   
    </article>
  </div>