---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
---

<header role="banner">
  <div class="l-container header--inner"> 
    <article>
      <h1>Do better at work in under 5 minutes</h1>
      <p>Get the weekly email that helps you work better with your team. Improve your skills, level-up your career and build better products, all for free</p>    
      {% include "_includes/signup.njk" %}
      <ul>
        <li>Hand-written insights every week</li>
        <li>Actionable steps to improve your workflow</li>
        <li>Thought-provoking things to read, listen, and watch</li>
        <li>Early access to tools, web classes and events</li>
      </ul>
    </article>
    <aside>
      <picture>
        <source media="(min-width: 48rem)" srcset="/static/img/Screenshot.png, /static/img/Screenshot@2x.png 2x" />
        <img srcset="/static/img/screenshot-mobile@2x.png 2x" src="/static/img/screenshot-mobile.png" alt="Sherpa" loading="lazy" />
      </picture>
    </aside> 
  </div>
</header>