
@font-face {
    font-family:"Bagnard";
    src:url("Bagnard.woff2") format("woff2"),url("Bagnard.woff") format("woff"),url("Bagnard.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        