<div class="form-wrap" id="mc_embed_signup">
<form class="js-cm-form" id="subForm" action="https://www.createsend.com/t/subscribeerror?description=" method="post" data-id="2BE4EF332AA2E32596E38B640E9056199BA358E33FE37D4D135928B06ED0C46FCA5031B5EA6DFA9418D7A5DA64567FE0E141B78B1EDD94FA73A64956A3E3C431">
  <div class="form-wrap--input">    
    <input placeholder="Your email address" autocomplete="Email" aria-label="Email" class="js-cm-email-input qa-input-email" id="fieldEmail" maxlength="200" name="cm-yhhllji-yhhllji" required="" type="email">    
  </div>
  <button type="submit">Join our community</button>
</form>
<script type="text/javascript" src="https://js.createsend1.com/javascript/copypastesubscribeformlogic.js"></script>
</div>

<!--End mc_embed_signup-->