<section class="upcoming" id="issues">
  <div class="l-container">
    <h5>Here's whats happening</h5>
    <ul>
      {% for topic in upcomingList %}
        <li>
          <article>
            <img src="{{topic.data.featuredImage}}" alt="{{topic.data.title}}" loading="lazy" />
            <div class="topic-overlay">
              <p><strong>{{topic.data.title}}</strong></p>
              <time>{{ topic.date | readableDate }}</time>
            </div>
          </article>          
        </li>
      {% endfor %}
    </ul> 
    <a href="https://us10.campaign-archive.com/home/?u=246bdd8043b629a123728cfe5&id=3477d6d0b2">View all past issues</a>
  </div>   
</section>