nav {  
  display:flex;
  justify-content: center;
  align-items: center;
  flex-flow:row nowrap;
  padding:var(--p-3);
}
nav a {
  display:inline-block;
  color:var(--color-text-high);
  font-weight:400;
}
nav svg {
  max-width:4rem;
  max-height:4rem;
}

header[role="banner"] {
  display:block; 
  max-width:480px;
  margin:0 auto;
  padding-bottom:var(--p-6);
}
header[role="banner"] picture img {
  display:block;
  margin-left:auto;
  margin-right:auto;
}

header[role="banner"] .header--inner article,
header[role="banner"] .header--inner aside { 
  grid-column: span 6;
}

header[role="banner"] .header--inner article {
  text-align:center;
}
@media(min-width:48rem) {
  header[role="banner"] .header--inner article {
    text-align:left;
    max-width: 56ch;
  }
}
@media(min-width:100rem) {
  header[role="banner"] .header--inner article {
    grid-column: span 6;
  }
  header[role="banner"] .header--inner aside { 
    grid-column: span 6;
  }
}

header[role="banner"] ul {
  margin:1rem 0;
  padding-left:1rem;
}
header[role="banner"] ul li {  
  padding:.5rem 0;
}
header[role="banner"] ul li:before {
  position: relative;
  content: '✓';
  left:-1rem;
}

nav + main {
  margin-top:var(--p-7);
}