nav {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  padding:var(--p-3);
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-flow:row nowrap;
}
nav a {
  display:inline-block;
  color:var(--color-text-high);
  font-weight:400;
}
nav svg {
  max-width:48px;
}
