nav {
  background-color:var(--color-bg);
}
.nav-inner {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;    
  padding:var(--p-3) 0;    
}
@media(min-width:48rem) {
  .nav-inner {
    justify-content: space-between;
    flex-flow:wrap;
  }
}
.nav-links {
  display:none;
  justify-content: flex-end;
  align-items: center;
  flex-flow:row nowrap;
}
@media(min-width:48rem) {
  .nav-links {
    display:flex;
  }
}
.nav-links li {
  padding-left:var(--p-3);
}
