.screenshot picture {
  position: relative;
  display:block;
  margin:0 auto;
}
.screenshot picture img {
  margin:0 auto;
}

.features,
.cta,
.benefits {
  background-color:var(--color-bg);
  text-align:center;
}
.features .title-wrap {
  display:inline-block;
  padding:var(--p-base);
  border-radius:var(--p-7);
  background-color:var(--color-bg);
  box-shadow:0 4px 1rem rgba(0,0,0,0.08);
  margin:0 auto;
  transform:rotate(-1deg) translateY(-50%);
}

.features-grid {
  display:block;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:1.5rem;
  
}
@media(min-width:48rem) {
  .features-grid {
    display:grid;
  }
}

.features-grid article {
  display:block;
  margin-bottom:var(--p-4);
  text-align:center;
}
.features-grid article h4 {
  max-width:20ch;
  margin-left:auto;
  margin-right:auto;
}
.features-grid article img {  
  margin:0 auto;
  max-width:4rem;
  margin-bottom:var(--p-3);
}

.cta h3 {
  line-height: 1.5;
}

.image-text-block {
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-flow:wrap;
}
.image-text-block article {
  max-width:48ch;    
  text-align:left;
}
@media(min-width:48rem) {
  .image-text-block {
    flex-flow:row nowrap;
  }
  .about-nuom .image-text-block article {
    order:-1;
    padding-right:var(--p-base);
  }
  
}
.image-text-block picture {
  margin-bottom:var(--p-5);
}

.image-text-block picture img {
  margin:0 auto;
  box-shadow:0 0 100px rgba(0,0,0,0.08);
  border-radius:1rem;

}
.image-text-block ul {
  margin:1rem 0;
  padding-left:1rem;
}
.image-text-block ul li {  
  padding:.5rem 0;
}
.image-text-block ul li:before {
  position: relative;
  content: '✓';
  left:-1rem;
}