<section class="buy-card">
  <h2>Join Sherpa Community</h2>
  <small>Only 40 / 50 spots letft!</small>
  <ul class="buy-card-list">
    <li>
      {% include "components/check.svg" %}
      <div class="buy-card-list__label">
        <p>Vibrant community of 40+ founders</p>
      </div>
    </li>
    <li>
      {% include "components/check.svg" %}
      <div class="buy-card-list__label">
        <p>Mastermind programs lead by experts</p>
      </div>
    </li>
    <li>
      {% include "components/check.svg" %}
      <div class="buy-card-list__label">
        <p>Weekly clinics and coaching sessions</p>
      </div>
    </li>
    <li>
      {% include "components/check.svg" %}
      <div class="buy-card-list__label">
        <p>100+ curated product resources</p>
      </div>
    </li>
    <li>
      {% include "components/check.svg" %}
      <div class="buy-card-list__label">
        <p>Private events and roundtables</p>
      </div>
    </li>
    <hr>
    <li>
      {% include "components/soon.svg" %}
      <div class="buy-card-list__label">
        <small>Coming soon!</small>
        <p>Exclusive deals and discounts</p>
      </div>
    </li>
  </ul>
  <div class="buy-card__buttons">
    {% include "components/stripe-buy-btn.njk" %}
    <small>Checkout handled by Stripe. 14 day money back guarantee.</small>
  </div>
</section>