:root {
  --color-text-high:#1d1d1d;
  --color-text-med:#444;
  --color-text-low:#888;

  --color-primary:#EB482D;
  --color-primary-dark:#982613;
  --color-primary-muted:#FFE3DE;
  
  --color-muted: #DEE1F2;
  --color-grey:#A5A9B4;
  --color-bg: #fff;

  --font-stack-headline:'Bagnard','Rubik', -system-ui, sans-serif;
  --font-stack-body:'Rubik', -system-ui, sans-serif;

  --type-xs:0.75rem;
  --type-sm:0.875rem;
  --type-base:1rem; 
  --type-md:clamp(1.125rem, 1.25vw, 1.25rem);
  --type-lg:clamp(1.5rem, 1.5vw, 2rem);
  --type-xl:clamp(2rem, 3vw, 3rem);

  --p-base:1rem;
  --p-1:0.5rem;
  --p-2:1rem;
  --p-3:1.5rem;
  --p-4:2rem;
  --p-5:3rem;
  --p-6:3.5rem;
  --p-7:5rem;
  
}

@media(min-width:80rem) {
  :root {    
        
    --p-6:5rem;
    --p-7:7rem; 
  }
}