/* Components */
:root {
  --color-text-high:#1d1d1d;
  --color-text-med:#444;
  --color-text-low:#888;

  --color-primary:#3b5bdb;
  --color-primary-dark:#0D1F77;
  --color-primary-muted:#EDF2FF;
  
  --color-muted: #F1F3F5;
  --color-grey:#CED4DA;
  --color-bg: #fff;

  --font-stack-headline:'Inter', -system-ui, sans-serif;
  --font-stack-body:var(--font-stack-headline);

  --type-xs:0.75rem;
  --type-sm:0.875rem;
  --type-base:1rem; 
  --type-md:1.125rem;
  --type-lg:1.25rem; 
  --type-xl:1.75rem;

  --p-base:1rem;
  --p-1:0.5rem;
  --p-2:1rem;
  --p-3:1.5rem;
  --p-4:2rem;
  --p-5:3rem;
  --p-6:3.5rem;
  --p-7:5rem;
  
}
@media(min-width:80rem) {
  :root {
    --type-base:1.125rem;
    --type-md:1.5rem;
    --type-lg:2rem; 
    --type-xl:3rem;
        
    --p-6:5rem;
    --p-7:7rem; 
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*::after,
*::before {
  box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html,
body {
	height:100%;
	scroll-behavior: smooth;
}
body {
  margin:0;
  line-height: 1.5;
  font-family:var(--font-stack-body);  
  font-weight:400;
  font-size:1rem;
  color:var(--color-text-high);
  background-color:var(--color-muted);
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	display:block;
	max-width:100%;
	height:auto;
}
h1,
h2,
h3,
h4 {
  font-weight:700;
  line-height:1.2;
  color:var(--color-text-high);
  margin:0 0 0.5em 0;
}
.t-no-margin {
  margin:0;
}
h1,
.t-xl { 
  font-size: var(--type-xl); 
  letter-spacing: -0.02em; 
}
h2,
.t-lg { 
  font-size: var(--type-lg); 
  letter-spacing: -0.01em; 
}
h3,
.t-md { 
  font-size: var(--type-md); 
  letter-spacing:0; 
}
h4,
.t-base { 
  font-size: var(--type-base); 
  letter-spacing:0.01em; 
}
h5 {
  font-size:var(--type-sm);
  letter-spacing: 2px;
  text-transform: uppercase;
  color:var(--color-text-low);
  font-weight:bold;
  margin:0 0 var(--p-2) 0;
}
p {
  margin:0;
  font-size:var(--type-base);
  line-height: 1.5;
  color:var(--color-text-med);    
}
h1 + p {  
  font-size:var(--type-md);
}
a {
  display:inline-block;
  color:var(--color-primary);
  font-weight:700;
  font-size:var(--type-base);
}
p + p,
p + a,
p + h3 {
  margin-top:var(--p-base);
}
small {
  font-size:75%;
  color:var(--color-text-low);
}
.l-container {
  display:block;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap:var(--p-3);  
  max-width:1200px;
  margin:0 auto;
  padding-left:var(--p-3);
  padding-right:var(--p-3);
}
.l-container > * {
  grid-column: span 12;
}
.l-inner {
  padding-left:var(--p-3);
  padding-right:var(--p-3);
}
.l-container .l-inner {
  padding-left:0;
  padding-right:0;
}
@media(min-width:48rem) {
  .l-container {
    display:grid;
  }
  .l-inner {
    justify-self: center;
    grid-column: 3 / 11;
  }
}
header[role="banner"] {
  text-align:center;
  padding:var(--p-6) 0;
}
@media(min-width:48rem) {
  header[role="banner"] {
    text-align:center;
    padding:var(--p-7) 0 var(--p-6) 0 ;
  }
}
header[role="banner"] h1 {
  max-width:20ch;
  margin-left:auto;
  margin-right:auto;
}
header[role="banner"] p {
  max-width:40ch;
  margin-left:auto;
  margin-right:auto;
}
section {
  padding-bottom:var(--p-6);
}
.section-pt {
  padding-top:var(--p-6);
}
@media(min-width:48rem) {
  section {
    padding-bottom:var(--p-7);
  }
  section.section-pt {
    padding-top:var(--p-7);
  }
}
nav {
  background-color:var(--color-bg);
}
.nav-inner {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;    
  padding:var(--p-3) 0;    
}
@media(min-width:48rem) {
  .nav-inner {
    justify-content: space-between;
    flex-flow:wrap;
  }
}
.nav-links {
  display:none;
  justify-content: flex-end;
  align-items: center;
  flex-flow:row nowrap;
}
@media(min-width:48rem) {
  .nav-links {
    display:flex;
  }
}
.nav-links li {
  padding-left:var(--p-3);
}
footer {
  display:block;
  padding:var(--p-5) 0;
  background-color:var(--color-bg);
  text-align:center;
}
footer a {
  font-size:75%;
  color:var(--color-text-low);
}
button,
.button {
  display:inline-block;
  padding:var(--p-1) var(--p-base);
  border-radius:2rem;
  font-family:var(--font-stack-body);
  font-weight:bold;
  font-size:var(--type-base);
  text-align:center;
  color:var(--color-text-high);
  background-color:transparent;
  border:1px solid;  
  border-color:transparent;
  text-decoration: none;
  cursor:pointer;
  margin:0;
}
button:hover,
.button:hover {
  background-color:var(--color-muted);
}
.button-block {
  display:block;
  width:100%;
}
.button-lg {
  padding:var(--p-2) var(--p-base);
  /* font-size:var(--type-m); */
}
.button-primary {
  background-color:var(--color-primary);
  color:#fff;
  box-shadow:0 1px .5rem rgba(0,0,0,0.08);
}
.button-primary:hover {
  background-color:var(--color-primary-dark);
}
.button-secondary {
  background-color:var(--color-primary-muted);
  color:var(--color-primary);  
}
.button-secondary:hover {
  background-color:var(--color-primary);
  color:#fff;
}
.form-wrap {
  display:block;
  width:100%;
  max-width:480px;
  margin:var(--p-4) auto;
}
input[type="email"],
input[type="text"] {
  display:block;
  width:100%;  
  margin:0 auto;
  margin-bottom:var(--p-2);
  padding:var(--p-2) var(--p-2);
  font-size:var(--type-base);
  font-family:var(--font-stack-body);
  background-color:var(--color-bg);
  border:1px solid var(--color-grey);
  box-shadow:0 1px .5rem rgba(0,0,0,0.08);
  border-radius:var(--p-4);
  outline:0;
}
.screenshot picture {
  position: relative;
  display:block;
  margin:0 auto;
}
.screenshot picture img {
  margin:0 auto;
}
.upcoming {
  text-align:center;
}
.upcoming ul {
  display:block;
  margin:var(--p-3) 0;
}
@media(min-width:48rem) {
  .upcoming ul {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:1.5rem;
    overflow-x:none;
  }
}
.upcoming ul li {
  margin-bottom:1.5rem;
}
.upcoming ul li article {
  position: relative;
  object-fit: contain;
  padding-top:60%;
  overflow:hidden;
  border-radius: 4px;
}
.upcoming ul li article img {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
.upcoming ul li article .topic-overlay {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  background-image: linear-gradient(180deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.80) 100%);  
  z-index: 1;
  padding:1rem;
  display:flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-flow: column nowrap;
  text-align: left;
}
.upcoming ul li article .topic-overlay p,
.upcoming ul li article .topic-overlay time {
  color:#fff;
  margin:0;
}
.upcoming ul li article .topic-overlay time {
  opacity:0.7;
  font-size:0.85rem;
  margin-top:0.5rem;
}
.features,
.cta,
.benefits {
  background-color:var(--color-bg);
  text-align:center;
}
.features .title-wrap {
  display:inline-block;
  padding:var(--p-base);
  border-radius:var(--p-7);
  background-color:var(--color-bg);
  box-shadow:0 4px 1rem rgba(0,0,0,0.08);
  margin:0 auto;
  transform:rotate(-1deg) translateY(-50%);
}
.features-grid {
  display:block;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:1.5rem;
  
}
@media(min-width:48rem) {
  .features-grid {
    display:grid;
  }
}
.features-grid article {
  display:block;
  margin-bottom:var(--p-4);
  text-align:center;
}
.features-grid article h4 {
  max-width:20ch;
  margin-left:auto;
  margin-right:auto;
}
.features-grid article img {  
  margin:0 auto;
  max-width:4rem;
  margin-bottom:var(--p-3);
}
.cta h3 {
  line-height: 1.5;
}
.image-text-block {
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-flow:wrap;
}
.image-text-block article {
  max-width:48ch;    
  text-align:left;
}
@media(min-width:48rem) {
  .image-text-block {
    flex-flow:row nowrap;
  }
  .about-nuom .image-text-block article {
    order:-1;
    padding-right:var(--p-base);
  }
  
}
.image-text-block picture {
  margin-bottom:var(--p-5);
}
.image-text-block picture img {
  margin:0 auto;
  box-shadow:0 0 100px rgba(0,0,0,0.08);
  border-radius:1rem;

}
.image-text-block ul {
  margin:1rem 0;
  padding-left:1rem;
}
.image-text-block ul li {  
  padding:.5rem 0;
}
.image-text-block ul li:before {
  position: relative;
  content: '✓';
  left:-1rem;
}
