<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
    <meta name="theme-color" content="#fff">
    <meta property="og:title" content="{{ metadata.title }}">
    <meta property="og:site_name" content="Sherpa">
    <meta property="og:url" content="https://sherpatoolkit.com">
    <meta property="og:description" content="{{ metadata.description }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://sherpatoolkit.com/static/img/og-image.jpg">
    <link rel="stylesheet" href="{{ '/static/style.css' | url }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
    <script>
        window.addEventListener("load", function(){
        window.cookieconsent.initialise({
        "palette": {
            "popup": {
            "background": "#3b5bdb"
            },
            "button": {
            "background": "#1d1d1d",
                        "text": "#fff"
            }
        },
        "theme": "classic",
        "position": "bottom-left",
        "content": {
            "href": "/privacy-policy"
        }
        })});
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-29443215-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-29443215-3');
    </script>
  </head>
  <body>   
    <nav>
      <div class="l-container">
        <div class="nav-inner">
          <a href="/">
            <img src="/static/img/Logo.png" alt="Sherpa" />
          </a>
          <ul class="nav-links">        
            <li><a href="#features" class="button">What is Sherpa?</a></li>      
            <li><a href="#about" class="button">About</a></li>
            <li><a href="https://nuom.us10.list-manage.com/subscribe/post?u=246bdd8043b629a123728cfe5&id=3477d6d0b2" class="button button-primary">Get early access</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>
    <footer>
      <div class="l-container">
        <small>&copy; 2020. Built by nuom </small>
        <a href="/privacy-policy">Privacy Policy</a>
      </div>
    </footer>    
    <script src="{{ '/static/main.js' | url }}"></script>   
  </body>
</html>