---
layout: layouts/base.njk
templateClass: page
---
<div class="l-container">  
  <div class="l-inner">
    <section class="section-pt">
      <p><a href="{{ '/' | url }}">← Back home</a></p>
      {{ content | safe }}
    </section>
  </div>
</div>