---
layout: layouts/base.njk
templateClass: workshop
---
<p><a href="{{ '/' | url }}">← Back to workshops</a></p>
<header>
  {{ content | safe }}
  <aside>
    <h4>Resources</h4>
    {% for resource in resources %}
    <article>
      <a href="{{resource.url}}">{{resource.title}}</a>
    </article>
  {% endfor %}
</header>
<section>
  <h3>Exercises</h3>
  {% for exercise in exercises %}
    <article>
      <p>{{exercise}}</p>
    </article>
  {% endfor %}
</section>